header {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #000;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
}

.logo span {
    color: mediumaquamarine;
}

header nav {
    padding-right: 30px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

nav span a {
    color: black;
}

.content,
.column,
.immage-content,
.narrative{
    border: 1px solid black;
}